
[user]
  name = Pedro Paulo Brasilino
  email = programacaodepedropaulo@gmail.com

[alias]
  st = status
  co = checkout
  br = branch
  cm = commit -m
  acp = !git add . && git commit -m
  lg = log --oneline --graph --decorate --all
  last = log -1 HEAD
  unstage = reset HEAD --
  amend = commit --amend

[color]
  ui = auto

[core]
  editor = code --wait
